@font-face {
    font-family: OpenSans-Bold;
    src: url(../../fonts/OpenSansBold.ttf);}

	@font-face {
    font-family: OpenSans-Light;
    src: url(../../fonts/OpenSansLight.ttf);}

	@font-face {
    font-family: OpenSans-Regular;
    src: url(../../fonts/OpenSansRegular.ttf);}
	